<form [formGroup]="loginForm">
<div class="login-form-container">
<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template pTemplate="header">
        <p class="header-container">Instagram</p>
    </ng-template>

    <p>
         <p-floatlabel variant="on">
            <input 
            pInputText id="email" 
            formControlName="email" 
            autocomplete="off" 
            />
            <label for="email">Username, email or phone number</label>
        </p-floatlabel>
    </p>
       
    <p>
         <p-floatlabel variant="on">
            <input 
            pInputText id="password" 
            formControlName="password" 
            type="password" 
            autocomplete="off" 
            />
            <label for="password">Password</label>
        </p-floatlabel>
    </p>
    

    <div class="flex gap-4 mt-1">
        <p-button label="Log In" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full"></p-button>
    </div>


    <p-divider allign="center" type="solid">
        <b>OR</b>
    </p-divider>

  

    <ng-template pTemplate="footer">
        <div class="footer-container">
             <a href="#">Forgot password?</a>
        </div>
       
    </ng-template>

    
</p-card>


<p-card [style]="{ width: '25rem', overflow: 'hidden', height: '5rem', marginTop: '1rem' }">
    <div class="signup-link" >
        <p>Don't have an account? <a href="register">Sign up</a></p>
    </div>
</p-card>

</div>
</form>