<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
<div class="login-form-container">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template pTemplate="header">
            <p class="header-container">Instagram</p>
        </ng-template>
    
        <p>
             <p-floatlabel  variant="on">
                <input 
                pInputText id="email" 
                formControlName="email" 
                autocomplete="off" 
                type="email"
                />
                <label for="email">Email</label>
            </p-floatlabel>
            <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="p-error">
                Please enter a valid email address
            </small>
        </p>
           
        <p>
             <p-floatlabel variant="on">
                <input pInputText id="password" formControlName="password" type="password" autocomplete="off" />
                <label for="password">Password</label>
            </p-floatlabel>
            <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="p-error">
                Password must be at least 6 characters
            </small>
        </p>
        
        <p>
            <p-floatlabel variant="on">
               <input pInputText id="confirmPassword" formControlName="confirmPassword" autocomplete="off" />
               <label for="confirmPassword">confirmPassword</label>
           </p-floatlabel>
           <small *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="p-error">
                confirmPassword is required
            </small>
       </p>

       <p>
        <p-floatlabel variant="on">
           <input pInputText id="dateOfBirth" formControlName="dateOfBirth" autocomplete="off" />
           <label for="dateOfBirth">dateOfBirth</label>
       </p-floatlabel>
       <small *ngIf="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched" class="p-error">
             dateOfBirth is required
        </small>
        </p>

        <p>
             <p-floatlabel variant="on">
                <input pInputText id="username" formControlName="username" autocomplete="off" />
                <label for="username">Username</label>
            </p-floatlabel>
            <small *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="p-error">
                Username is required
            </small>
        </p>

    <p class="terms-of-use">
        It is possible that people who use our service may have uploaded your contact information to Instagram.
    </p>
    
    <p class="terms-of-use">
        If you sign up, you express your agreement with the Terms of Use. From the Privacy Policy, you can find out how we collect, use, and transmit your data, and from the Cookie Policy, you can find out how we use cookies and similar technologies.
    </p>
    
        <div class="flex gap-4 mt-1">
            <p-button 
                label="Sign Up" 
                severity="secondary" 
                class="w-full" 
                [outlined]="true" 
                styleClass="w-full purple-button" 
                [loading]="isLoading"
                type="submit"
                [disabled]="registerForm.invalid">
            </p-button>
         </div>
    </p-card>
    
    <p-card [style]="{ width: '25rem', overflow: 'hidden', height: '5rem', marginTop: '1rem' }">
        <div class="signup-link">
            <p>Have an account?</p> 
            <a href="login">Log in</a>
        </div>
    </p-card>
    
</div>

<p-toast></p-toast>
</form>
