<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
<div class="login-form-container">
<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template pTemplate="header">
        <p class="header-container">Instagram</p>
    </ng-template>

    <p>
         <p-floatlabel variant="on">
            <input 
            pInputText id="email" 
            formControlName="email" 
            autocomplete="off" 
            />
            <label for="email">Username, email or phone number</label>
        </p-floatlabel>
        <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="p-error">
            Please enter a valid email address
        </small>
    </p>
       
    <p>
         <p-floatlabel variant="on">
            <input 
            pInputText id="password" 
            formControlName="password" 
            type="password" 
            autocomplete="off" 
            />
            <label for="password">Password</label>
        </p-floatlabel>
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
            Password is required
        </small>
    </p>
    

    <div class="flex gap-4 mt-1">
        <p-button 
            label="Log In" 
            severity="secondary" 
            class="w-full" 
            [outlined]="true" 
            styleClass="w-full purple-button"
            [loading]="isLoading"
            type="submit"
            [disabled]="loginForm.invalid">
        </p-button>
    </div>


    <p-divider allign="center" type="solid">
        <b>OR</b>
    </p-divider>

    <ng-template pTemplate="footer">
        <div class="footer-container">
             <a href="#">Forgot password?</a>
        </div>
    </ng-template>
</p-card>

<p-card [style]="{ width: '25rem', overflow: 'hidden', height: '5rem', marginTop: '1rem' }">
    <div class="signup-link" >
        <p>Don't have an account? <a href="register">Sign up</a></p>
    </div>
</p-card>

</div>

<p-toast></p-toast>
</form>
